// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k1.dtsi"
#include "k1-pinctrl.dtsi"

/ {
	model = "Banana Pi BPI-F3";
	compatible = "bananapi,bpi-f3", "spacemit,k1";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0";
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "sys-led";
			gpios = <&port3 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_2_cfg>;
	status = "okay";
};

&sdhci0 {
	bus-width = <4>;
	no-mmc;
	no-sdio;
	status = "okay";
	spacemit,sdh-freq = <50000000>;
};

/* eMMC */
&sdhci2 {
	bus-width = <8>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	spacemit,sdh-freq = <375000000>;
	status = "okay";
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_cfg>;

	emac,reset-gpio = <&port3 14 0>;
	emac,reset-active-low;
	emac,reset-delays-us = <0 10000 100000>;

	/* store forward mode */
	tx-threshold = <1518>;
	rx-threshold = <12>;
	tx-ring-num = <1024>;
	rx-ring-num = <1024>;
	dma-burst-len = <5>;

	ref-clock-from-phy;

	clk-tuning-enable;
	clk-tuning-by-delayline;
	tx-phase = <60>;
	rx-phase = <73>;

//	nvmem-cells = <&mac_address0>;
//	nvmem-cell-names = "mac-address";

	phy-handle = <&rgmii0>;

	status = "okay";

	mdio-bus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		rgmii0: phy@0 {
			compatible = "ethernet-phy-id001c.c916";
			device_type = "ethernet-phy";
			reg = <0x1>;
			phy-mode = "rgmii";
		};
	};
};
